.MyStyle .card {
    border: none;
    border-radius: 10px;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	padding:17px;
    padding-bottom: 0px;
}

.MyStyle .c-details span {
    font-weight: 300;
    font-size: 13px
}

.MyStyle .icon {
    width: 60px;
    height: 60px;
    background-color: #eee;
    border-radius: 100%;
    display: flex;
	overflow:hidden;
}
.MyStyle .icon img { width:100%;}

.MyStyle .ColorOne {color:#F93;}
.MyStyle .ColorTwo {color:#06F;}
.MyStyle .ColorThree {color: #0C3;}

.MyStyle .Counter {
	text-align:right;
	font-size:16px;
	font-weight:bold;
	margin-top:2px;
}
.MyStyle .Counter span { font-weight:normal;}
